<p id="notice"><%= notice %></p>

<h1>Albums</h1>
    <% @albums.each do |album| %>
  <div id = "li_album">
    <div id="li_album_right"><img src=<%= album.pic %> alt=<%= album.pic %> width="200" height="200" /></div>
    <div id=li_album_right_w>
    <div id="name"> <%= album.name %><br/></div>
    介绍：<%= album.description %><br/>
    音乐人：<%= album.musician.name if album.musician %><br/>
    种类：<%= album.genre.name if album.genre %><br/>
    地区：<%= album.region.name if album.region %><br/>
    价格：<%= album.price %><br/>
    已售：<%= album.sales.to_i %><br/>
    库存：<%= album.stock.to_i %><br/>
      <%= link_to '商品详情', album %><br/>
      <% if (not current_user.nil?) and current_user.role=="manager" %>
        <%= link_to '编辑商品', edit_album_path(album) %><br/>
        <%= link_to '删除商品', album, method: :delete, data: { confirm: 'Are you sure?' } %><br/>
      <% end %>
    </div>
  </div>
<% end %>



<br>
<% if (not current_user.nil?) and current_user.role=="manager" %>
  <%= link_to '添加商品', new_album_path %>
<% end %>
