<%= form_with(model: album, local: true) do |form| %>
  <% if album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% album.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="li">
  <div class="field">
    <%= form.label "唱片名称" %>
    <%= form.text_field :name %>
  </div></div>

  <div id="li">
  <div class="field">
    <%= form.label "图片路径" %>
    <%= form.text_field :pic %>
  </div></div>

  <div id="li">
  <div class="field">
    <%= form.label "唱片描述" %>
    <%= form.text_field :description %>
  </div></div>

  <div id="li">
  <div class="field">
    <%= form.label "唱片价格" %>
    <%= form.number_field :price %>
  </div></div>

  <div id="li">
    <div><%= form.label "音乐人" %><%= form.collection_select(:musician_id, Musician.all, :id, :name) %></div>



  </div>

  <div id="li">
    <div><%= form.label "类型" %><%= form.collection_select(:genre_id, Genre.all, :id, :name) %></div>
  </div>

  <div id="li">
    <div><%= form.label "地区" %><%= form.collection_select(:region_id, Region.all, :id, :name) %></div>
  </div>

  <div id="li">
  <div class="field">
    <%= form.label "库存" %>
    <%= form.number_field :stock %>
  </div></div>

  <div class="actions">
    <%= form.submit '确认'%>
  </div>
<% end %>
